<div class="container">
    
    <div class="header">
        <div class="innerheader">
            <h3 class="d-flex justify-content-center"> Small IT Ticketing System</h3>
            <h5 class="d-flex justify-content-center"> Created by Jin Lee</h5>
        </div>
    </div>

    
    <router-outlet></router-outlet>
   
    <div class="body">
        

        <app-dialog *ngIf="generalService.showDialog" (parentFunction)="parentFunction($event)"></app-dialog>
    
        <button (click) = "generalService.showDialog = true" 
        class="submitButton" 
        >
            Submit New Ticket
        </button>
        
        <!--<div *ngFor="let person of people">
            {{person.name}} {{person.age}} 
        </div>-->
        
        <!--<p *ngFor="let item of itemList">
        {{item}}
        </p>-->
        
        <!-- Table of tickets -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Request/Issue</th>
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let item of itemList">
                    <td>{{item.name}}</td>
                    <td>{{item.desc}}</td>
                
                </tr>
            </tbody>
        </table>
   
    </div>
    

</div>



